.icon-button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: none;
  outline: none;
  padding: 12px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
